.form-modal {
	display: none;
	position: fixed;
	top: 30%;
	left: 38%;
	height: 240px;
	width: 300px;
	background-color: #fff;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0px 0px 38px 0px rgba(104, 176, 201, 0.34);
	z-index: 1;
}

.form-modal h3 {
	font-family: MuseoSansCyrl400;
	font-size: 1.25em;
	color: #5892a6;
	margin-top: 40px;
}

.form-modal p {
	font-family: MuseoSansCyrl300;
	font-size: 0.75em;
	margin-top: 15px;
}

.form-modal input {
	padding: 10px 30px;
	border-radius: 15px;
	margin-top: 15px;
	text-align: center;
}

.form-modal input:placeholder {
	font-family: MuseoSansCyrl500;
	font-size: 0.8125em;
}

.form-modal button {
	font-family: MuseoSansCyrl700;
	font-size: 0.875em;
	padding: 10px 45px;
	border-radius: 15px;
	text-transform: uppercase;
	margin-top: 15px;
	color: #fff;
	box-shadow: 0px 5px 5px 0px rgba(1, 1, 1, 0.1);
	background: linear-gradient( 90deg, rgb(88,146,166) 0%, rgb(100,162,184) 100%);
}

.close {
	position: absolute;
	right: 2px;
	bottom: calc(100% + 5px);
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.close:after, .close:before {
	content: '';
	position: absolute;
	/*right: 2px;
	bottom: calc(100% + 5px);*/
	width: 3px;
	height: 32px;
	background-color: #5ea5bd;
}

.close:after {
	transform: rotate(45deg);
}

.close:before {
	transform: rotate(-45deg);
}

				/*Модальное окно "спасибо"*/
.modal-thank {
	display: none;
	position: fixed;
	top: 65%;
	left: 38%;
	width: 300px;
	border-radius: 20px;
	text-align: center;
	z-index: 1;
	background-color: #fff;
	padding: 40px 0;
}

.modal-thank h3 {
	font-family: MuseoSansCyrl400;
	font-size: 1.25em;
	color: #5892a6;
}

.modal-thank p {
	font-family: MuseoSansCyrl300;
	font-size: 0.75em;
	padding-top: 20px;
}

@media(max-width: 375px) {

	.form-modal {
		top: 7%;
		left: 10%;
	}

	.modal-thank {
		top: 45%;
		left: 10%;
	}


}

@media(max-width: 320px) {
	.form-modal {
		left: 3%;
	}

	.modal-thank {
		left: 3%;
	}
}
